In [5]:
# conceptos básicos de python #

In [7]:
name = "Jeimys"
print("My name is " + name)
age = 20
print("I am " + str(age) + " years old.")

My name is Jeimys
I am 20 years old.

In [9]:
david_height = 170
santana_height = 169
maylin_height = 166
avg__height = (david_height + santana_height + maylin_height)/3
print("La estatura promedio es: " + str(avg__height))

La estatura promedio es: 168.33333333333334

In [12]:
Estatura_total = 0
Estatura_total += santana_height
Estatura_total += david_height
Estatura_total += maylin_height
print(santana_height)
print(david_height)
print(maylin_height)
print(Estatura_total)
Estatura_total = Estatura_total/3
print(Estatura_total)

169
170
166
505
168.33333333333334

# Flux Control

In [15]:
points = 95
if points >= 90 and points < 100:
    print("A")
elif points >= 75 and points < 90:
    print("B")
elif points >= 60 and points < 75:
    print("C")
elif points >= 0 and points < 60:
    print("D")

A

In [17]:
speed = 60 # km/h
time = input("Cuánto tiempo demoró?: ")
print("Usted recorrió: " + str(speed*float(time)) + " km")

Cuánto tiempo demoró?: 2
Usted recorrió: 120.0 km

In [18]:
alturas = []
altura_hombres = [170, 163, 168, 165]
altura_mujeres = [166, 160]
alturas = altura_hombres + altura_mujeres
print(alturas)

[170, 163, 168, 165, 166, 160]

In [21]:
alturas.append(168)
print(alturas)
print(alturas[::-1])

[170, 163, 168, 165, 166, 160, 168, 168]
[168, 168, 160, 166, 165, 168, 163, 170]

In [22]:
ultima_altura = alturas[-1]
print(ultima_altura)

168

In [23]:
n_alturas = len(alturas)
print(n_alturas)

8

In [24]:
range_a = range(n_alturas)
print(list(range_a))

[0, 1, 2, 3, 4, 5, 6, 7]

In [25]:
range_b = range(2, 16)
print(list(range_b))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [26]:
range_c = range(5, -10, -4)
print(list(range_c))

[5, 1, -3, -7]

In [27]:
fast_foods = ["salchipapa", "pizza", "hamburguesa", "hot dog"]
prices = [20000, 7000, 20000, 2500]
food_prices = list(zip(fast_foods, prices))
print(food_prices)

[('salchipapa', 20000), ('pizza', 7000), ('hamburguesa', 20000), ('hot dog', 2500)]

In [32]:
print(food_prices[0][1])

20000

In [34]:
names = ['Gara', 'Santana', 'Joshua', 'Zabala']
for name in names:
    print(name)

Gara
Santana
Joshua
Zabala

In [35]:
for i in range(len(names)):
    print(names[i])

Gara
Santana
Joshua
Zabala

In [37]:
counter = 5
while counter < 15:
    print(counter)
    counter += 1

5
6
7
8
9
10
11
12
13
14

In [ ]:
m = 3
b = -5
x = [-1, 3, 2, -4, 10, 15, -8, 0]
# y = mx + b 
y = [m*xi + b for xi in x]
print(y)

# Ejercicios

In [40]:
a = [2, 5, 7, 9, 0, 50]
b = [5, 69, 40, 5, 68]

max_a = max(a)
max_b = max(b)

print(max_a)
print(max_b)

if max_a > max_b:
    print('El número mayor está en la lista a')
else:
    print('El número mayor está en la lista b')
    
    
    
c = [2, 5, 7, 9, 0, 50]
d = [5, 69, 40, 5, 68]

max_c = 0
max_d = 0

for C in c:
    if C > max_c:

if max_a > max_b:
    print('El número mayor está en la lista a')
else:
    print('El número mayor está en la lista b')

50
69
El número mayor está en la lista b

In [ ]:
n_a = int(input("cuántos datos hay en la lista A?: \n"))
A = []
for i in range(n_a):
    A.append(int(input("Ingrese el valor " + str(i+1) + " de la lista: ")))
print("Lista A: " + str(A))


n_b = int(input("cuántos datos hay en la lista B?: \n"))
B = []
for i in range(n_b):
    B.append(int(input("Ingrese el valor " + str(i+1) + " de la lista: ")))
print("Lista B: " + str(B))